[mysqld]
user = mysql
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid
datadir = /var/lib/mysql
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
skip-name-resolve
host-cache-size = 0
secure-file-priv = /var/lib/mysql-files
default-time-zone = Asia/Tokyo

[client]
socket = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4

!includedir /etc/mysql/conf.d/
